@media(max-width:476px){
    .top-gully-nav {
        padding: 6px 0px;
        flex-wrap: nowrap;
    }
    .teer-logo{
        padding: 0 !important;
    }
    .teer-logo .img-fluid{
        height: 35px;
        max-width:195px;
    }
    .teer-nav{
        position: relative;
    }
    .menu-button{
        display: block;
        font-size: 24px;
        z-index: 1000;
        top: 22%;
        left:70%;
    }
    .teer-nav .nav{
        padding: 15px 0px;
        display: none;
        justify-content: flex-start;
    }
    .search-form-top .form-control{
        height: 33px !important;
    }
    #search1{
        display: none;
    }
    .mobile-nav {
        position: absolute;
        width: 200px;
        top: 160%;
        z-index: 1000;
        flex-direction: column;
        border: 1px solid rgb(218, 217, 217);
        /* left: 0%; */
        right: -18%;
        /* height: 330px; */
        background: rgb(248, 246, 246);
        display: none;
    }
    .heading-9 h1{
        font-size: 30px;
    }
    .search-12 h1{
        font-size: 25px !important;
    }
    @media(min-width:365px){
        .mobile-nav{
            position: absolute;
            width: 198px;
            top:100%;
            z-index: 1000;
            flex-direction: column;
            border: 1px solid rgb(218, 217, 217);
            /* left: 60%; */
            /* right: 10%; */
            /* height: 330px; */
            background: rgb(248, 246, 246);
            display: none;
        }
    }
    .heading-1 h1{
        color: rgb(23, 25, 26);
        margin: 0rem;
        font-size: 22px;
    }
    .login-mobile{
        display: none;
    }
    .mobile-log{
        display: block;
        width: 150px !important;
    }
    .mobile-log a{
        margin-left: 1rem !important;
    }
    .mobile-log a:last-of-type{
        margin-bottom: 0.1rem !important;
    }
    .sport-dropdown{
        z-index: 1000;
        left: -30%;
    }
    .bg-pos{
        background-position: center;
        background-size: 200px 200px;
    }
    a{
        text-decoration: none !important;
    }
    .p-4{
        padding: 0.25rem !important;
    }
    .mt-4{
        margin-top:1rem !important;
    }
    .mt-5{
        margin-top: 1rem !important;
    }
    .teer-box{
        height:100px;
        width:100px;
    }
    .round-fs h2 {
        font-size: 16px;
    }
    .bg-pos h5{
        color:black;
        text-decoration: none;
        text-align: center;
        margin-top:85px;
        font-size: 10px;
        font-weight: 700px;
    }
    .bg-image-1{
        background-image: url(../images/teer-result.svg);
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-color: #fcb540;
    }
    .bg-image-2{
        background-image: url(../images/common.png);
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-color: #f33535dc;
    }
    .bg-image-3{
        background-image: url(../images/dream-number.png);
        background-size: 60px 60px;
        background-repeat: no-repeat;
        /* background-color: #e70f0fdc; */
        border: 1px solid rgb(107, 106, 106);
    }
    .bg-image-4{
        background-image: url(../images/predict.png);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-color: #e4d4d4;
    }
    .bg-image-5{
        background-image: url(../images/prev-result.png);
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-color: #82d0d8;
    }
    .bg-image-6{
        background-image: url(../images/deal.png);
        background-color: #4aa74a;
        background-size: 70px 70px;
        background-repeat: no-repeat;
    }
    .bg-image-7{
        background-image: url(../images/analytics.png);
        background-color: #bbbbbb;
        background-size: 70px 70px;
        background-repeat: no-repeat;
    }
    .bg-image-8{
        background-image: url(../images/calendar1.png);
        background-color: #df3131;
        background-size: 70px 70px;
        background-repeat: no-repeat;
    }
    .bg-image-9{
        background-image: url(../images/target.png);
        background-color: #9321df;
        background-size: 60px 60px;
        background-repeat: no-repeat;
    }
    .footer{
        position: relative !important;
        /* top:100%; */
        bottom: 0%;
        width: auto;
        margin-top: 2rem !important;
        text-align: center;
    }
}